.Polaris-Card {
  .Polaris-Card__Section {
    .Polaris-Stack:nth-child(1) {
      & > .Polaris-Stack__Item {
        max-width: 50% !important;
        margin-left: 0 !important;
    
        img {
          width: 100%;
        }
      }

      .Polaris-Stack__Item:nth-child(2) {
        .Polaris-Stack {
          & > .Polaris-Stack__Item {
            max-width: 100% !important;
          }
        }
      }
    }
  }
}  
